apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlops-api-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: docker1explorer/mlops-api:latest
        ports:
        - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: mlops-api-svc
spec:
  selector:
    app: api
  ports:
  - port: 8000
    targetPort: 8000
