name: Build & Push Images

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - run: docker build -t loksaieta/api:latest -f docker/Dockerfile.api .
      - run: docker build -t loksaieta/ui:latest -f docker/Dockerfile.ui .
      - run: docker push loksaieta/api:latest
      - run: docker push loksaieta/ui:latest
